ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

li{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 1px;
    border: 1px solid black;
}

p{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

img{
    float: left;
}

